.react-calendar {
  width: 100%;
  max-width: 500px;
  margin: auto;
}

.ReactModal__Overlay {
  background-color: rgba(0, 0, 0, 0.75);
}

.ReactModal__Content {
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  max-width: 500px;
  width: 100%;
}