.cartoes {
  display: flex;
  justify-content: center;
  max-width: 80%;
  margin: 0 auto;
  border-radius: 10px;
  gap: 20px;
  margin-top: 2%;
}

.cartoes > div {
  flex: 1 1 200px;
  max-width: 200px; 
  min-width: 200px; 
  height: 400px; 
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  padding: 20px;
  color: white;
}

.cartoes img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border: 2px solid white;
}

.cartao-azul {
  background-color: #33488f;
  height: 400px;
}

.cartao-vermelho {
  background-color: #ac3a46;
}

.cartao-verde {
  background-color: #2f9c49;
}

.cartao-cinza {
  background-color: #808080;
}

.cartao-roxo {
  background-color: #a53692;
}

.cartao-amarelo {
  background-color: #f0cd63;
}

@media (max-height: 768px) {
  .cartoes {
    align-items: center;
    gap: 20px;
  }

  .cartoes > div {
    max-width: 150px;
    min-width: 150px;
    height: 300px;
    padding: 10px;
  }

  .cartoes img {
    width: 40px;
    height: 40px;
  }

  .cartao-azul, .cartao-vermelho, .cartao-verde, .cartao-cinza, .cartao-roxo, .cartao-amarelo {
    height: 300px;
  }
}

@media (max-width: 1200px) {
  .cartoes {
    align-items: center;
    gap: 20px;
  }

  .cartoes > div {
    max-width: 100px;
    min-width: 100px;
    height: 300px;
    width: 100px;
    padding: 10px;
  }

  .cartoes img {
    width: 25px;
    height: 25px;
  }

  h4 {
    font-size: 12px;
  }

  p {
    font-size: 10px;
  }
}