.Cartao {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; 
    position: absolute;
    top: 50%; 
    transform: translateY(-50%); 
    border-radius: 12rem;
  }
  .Cartao > img {
    top:0%;
    justify-content: center;
    text-align: center;
    
  }
  
  .prev,
  .next {
    position: absolute;
    top: 50%; 
    transform: translateY(-50%); 
    border-radius: 12rem;
  }
  
  .prev {
    left: 24rem;
  }
  
  .next {
    right: 24rem; 
  }