@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body, html {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.josefin-sans-heading {
  text-align: center;  
  font-family: 'Josefin Sans', sans-serif;
  margin-bottom: 20px; 
  font-size: 25px !important;
  color: #273358;
}

.open-sans-body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400; 
  margin-bottom: 10px; 
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  margin-bottom: 130px;
  overflow: hidden; 
}

.logoClubeMain {
  width: 140px !important ;
  margin-top: 0; 
  padding-bottom: 0px;
}

.h2IdadePart, .h2HorarioLocal, .main p {
  text-align: center;
}

section {
  margin-bottom: 40px;
}

@media (max-height: 810px) {
  body, html {
    overflow: auto;
  }

  .main {
    height: auto;
    margin-bottom: 0;
    overflow: visible; 
    margin-bottom: 130px;
  }
}

@media (max-height: 768px) {
  .logoClubeMain {
    width: 110px !important ;
    margin-top: 0; 
    padding-bottom: 0px;
  }
  .josefin-sans-heading {
    font-size: 20px !important;
  }
  .open-sans-body {
    font-size: 15px !important; 
    margin-bottom: 5px;
  }

  .main {
    padding: 0 10px; 
  }
}


@media (max-height: 720px) {
  .logoClubeMain {
    width: 100px !important ;
    margin-top: 0; 
    padding-bottom: 0px;
  }
  .josefin-sans-heading {
  
    font-size: 17px !important;
  }
  .open-sans-body {
    font-size: 12px !important; 
    margin-bottom: 5px;
  }

  section {
    margin-bottom: 15px;
  }
}