body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

.logoClubeMain {
  width: 200px;
  height: auto;
  margin-bottom: 20px;
}

.josefin-sans-heading {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 10px;
}

.cards-container {
  margin-top: 50px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 150px;
}

.card {
  flex: 1;
  margin-bottom: 20px; 
  display: flex;
  flex-direction: column;
  margin: 10px 20px 20px 50px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.card-title {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 10px;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}


.titulo-tabela {
  padding-left: 10px;
  padding-top: 20px;
  padding-bottom: 10px;
}

.card-content {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1.6;
}

.gain-card {
  background-color: #d1f2b5;
  color: #333;
  width: 500px ;
}

.loss-card {
  background-color: #f7bac7;
  color: #333;
  width: 500px ;
}

.card table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 0;
}

.card-table th,
.card-table td {
font-size: 14px;
}

.card th,
.card td {
  padding: 8px;
  border: 1px solid #ddd;
  text-align: left;
}

.card th {
  background-color: #f2f2f2;
}

.itens-premiacao {
  font-size: 14px;
  padding-left: 10px;
}

.new-item {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.new-item img {
  width: 50px; 
  height: auto; 
  margin-right: 10px; 
}

.new-item p {
  font-size: 16px; 
  font-weight: bold; 
}

.premiacao-container {
display: flex;
flex-direction: column;
width: 25%; 
margin: 10px 20px 20px 50px;
padding: 10px; 
border-radius: 10px;
box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}


.premiacao-container .card-table {
width: 100%; 
border-collapse: collapse;
font-size: 14px;
padding: 8px;
margin-bottom: 0; 
}

.premiacao-container .card-table th,
.premiacao-container .card-table td {
padding: 8px; 
border: 1px solid #ddd; 
text-align: left; 
}

.premiacao-container .card-table th {
background-color: #f2f2f2; 
}

.premiacao-container .card-table tbody tr:nth-child(odd) {
background-color: #f8f8f8; 
}


@media (max-height: 650px) {
  .cards-container {
    justify-content: center;
    padding-left: 20px;
  }

  .itens-premiacao {
    font-size: 11px;
    padding-left: 10px;
  }

  .card {
    width: 10%; 
    padding: 10px; 
    margin: 10px 5px; 
  }

  .card-title {
    font-size: 15px;
  }

  .card-table th,
  .card-table td {
    font-size: 12px; 
    padding: 4px; 
  }

  .new-item img {
    width: 50px; 
  }

  .premiacao-container {
    width: 30%;
    padding: 12px; 
  }

  .premiacao-container .card-table th,
  .premiacao-container .card-table td {
    font-size: 12px; 
    padding: 4px; 
  }

  h3 {
    font-size: 15px;
  }

  .titulo-tabela {
    font-size: 14px;
  }
}

@media (max-height: 768px) {
  .cards-container {
    justify-content: center;
    padding-left: 20px;
  }

  .itens-premiacao {
    font-size: 13px;
    padding-left: 10px;
  }


  .card {
    width: 10%; 
    padding: 10px; 
    margin: 10px 5px; 
  }

  .card-title {
    font-size: 15px;
  }

  .card-table th,
  .card-table td {
    font-size: 12px; 
    padding: 4px; 
  }

  .new-item img {
    width: 50px; 
  }

  .premiacao-container {
    width: 30%;
    padding: 12px; 
  }

  .premiacao-container .card-table th,
  .premiacao-container .card-table td {
    font-size: 12px; 
    padding: 4px; 
  }

  h3 {
    font-size: 15px;
  }

  .titulo-tabela {
    font-size: 14px;
  }
}

@media (max-height: 700px) {
  .premiacao-container {
    padding: 10px;
  }

  .new-item img {
    width: 40px;
  }

  .new-item p {
    font-size: 12px; 
  }

  .premiacao-container .card-table th,
  .premiacao-container .card-table td {
    font-size: 10px; 
    padding: 3px; 
  }

  .premiacao-container .card-table tbody tr:nth-child(odd) {
    background-color: #f8f8f8;
  }
}