body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

.logoClubeMain {
  width: 200px;
  height: auto;
  margin-bottom: 20px;
}

.josefin-sans-heading {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 10px;
}

.cards-container {
  margin-top: 50px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 150px;
}

.card {
  flex: 1;
  margin-bottom: 20px; 
  display: flex;
  flex-direction: column;
  width: 30%;
  margin: 10px 20px 20px 50px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.card-title {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 10px;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}


.titulo-tabela {
  padding-left: 10px;
  padding-top: 20px;
  padding-bottom: 10px;
}

.card-content {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1.6;
}

.gain-card {
  background-color: #d1f2b5;
  color: #333;
  width: 500px ;
}

.loss-card {
  background-color: #f7bac7;
  color: #333;
  width: 500px ;
}

.card table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 0;
}

.card-table th,
.card-table td {
font-size: 14px;
}

.card th,
.card td {
  padding: 8px;
  border: 1px solid #ddd;
  text-align: left;
}

.card th {
  background-color: #f2f2f2;
}

.itens-premiacao {
  padding-left: 10px;
}

.new-item {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.new-item img {
  width: 80px; 
  height: auto; 
  margin-right: 10px; 
}

.new-item p {
  font-size: 16px; 
  font-weight: bold; 
}

.new-items-container {
display: flex;
flex-direction: column;
width: 25%; 
margin: 10px 20px 20px 50px;
padding: 10px; 
border-radius: 10px;
box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}


.new-items-container .card-table {
width: 100%; 
border-collapse: collapse;
font-size: 14px;
padding: 8px;
margin-bottom: 0; 
}

.new-items-container .card-table th,
.new-items-container .card-table td {
padding: 8px; 
border: 1px solid #ddd; 
text-align: left; 
}

.new-items-container .card-table th {
background-color: #f2f2f2; 
}

.new-items-container .card-table tbody tr:nth-child(odd) {
background-color: #f8f8f8; 
}

@media (max-width: 1616px) {

.cards-container {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; 
}

}
