/* Estilos gerais */
body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
  }
  
  .logoClubeMain {
    width: 200px;
    height: auto;
    margin-bottom: 20px;
  }
  
  .josefin-sans-heading {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .cards-container {
    margin-top: 100px;
    display: flex;
    justify-content: flex-start; /* Alinhar cards à esquerda */
    align-items: center;
    flex-wrap: wrap;
  }

  .card {
    display: flex;
    flex-direction: column;
    width: 40%; /* Ajustar a largura dos cards */
    margin: 10px 20px 20px 50px; /* Ajustar as margens */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .card-title {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .card-content {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1.6;
  }
  
  .gain-card {
    background-color: #d1f2b5; /* Verde claro */
    color: #333;
    width: 500px ;
  }
  
  .loss-card {
    background-color: #f7bac7; /* Rosa claro */
    color: #333;
    width: 500px ;
  }
  
  /* Estilos para a tabela dentro dos cards */
  .card table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 0;
  }
  
  .card th,
  .card td {
    padding: 8px;
    border: 1px solid #ddd;
    text-align: left;
  }
  
  .card th {
    background-color: #f2f2f2;
  }
  
  .new-items-container {
    display: flex; /* Arrange items in a row */
    flex-direction: column; /* Stack items vertically */
    width: 30%; /* Adjust width as needed */
    margin: 10px 20px 20px 50px; /* Adjust spacing */
    padding: 20px;
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  }
  
  .new-item {
    display: flex; /* Arrange item content (image and text) */
    align-items: center; /* Align image and text vertically */
    margin-bottom: 15px; /* Add spacing between items */
  }
  
  .new-item img {
    width: 80px; /* Adjust image width */
    height: auto; /* Maintain aspect ratio */
    margin-right: 10px; /* Add space between image and text */
  }
  
  .new-item p {
    font-size: 16px; /* Adjust text size */
    font-weight: bold; /* Make text bold */
  }